name: Deploy

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/deploy.yml
      - README.md
      - acknowledgements.html
      - biblio.js
      - terms.html
      - acknowledgements/**
      - css/**
      - img/**
      - script/**
      - utility/**

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.repository == 'w3c/aria-common'
    strategy:
      fail-fast: false
      matrix:
        include:
          - repo: accname
            branch: main
          - repo: aria
            branch: main
          - repo: aria
            branch: stable
          - repo: aria-practices
            branch: main
          - repo: core-aam
            branch: main
          - repo: core-aam
            branch: stable
          - repo: css-aam
            branch: main
          - repo: dpub-aam
            branch: main
          - repo: dpub-aria
            branch: main
          - repo: graphics-aam
            branch: main
          - repo: graphics-aria
            branch: main
          - repo: math-aam
            branch: main
          - repo: math-aria
            branch: main
          - repo: mathml-aam
            branch: main
          - repo: svg-aam
            branch: main

    steps:
    - uses: actions/checkout@v2
      with:
        path: common

    - uses: actions/checkout@v2
      with:
        path: ${{ matrix.repo }}
        ref: ${{ matrix.branch }}
        token: ${{ secrets.GH_TOKEN }}

    - name: Cleanup old files
      run: |
        rm -rf ${{ matrix.repo }}/common/

    - name: Copy files
      run: |
        mkdir ${{ matrix.repo }}/common
        cp -R ${{ matrix.repo }}/commmon/README.md ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/acknowledgements.html ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/biblio.js ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/terms.html ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/acknowledgements ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/css ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/img ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/script ${{ matrix.repo }}
        cp -R ${{ matrix.repo }}/commmon/utility ${{ matrix.repo }}

    - name: Commit back
      run: |
        cd ${{ matrix.repo }}
        git config user.name github-actions[bot]
        git config user.email github-actions[bot]@users.noreply.github.com
        git add --all
        git commit -am "Generated by ${{ github.sha }}" || true
        git push
